# ======================================

# Python

# ======================================

**pycache**/
*.py[cod]
*$py.class

# Virtual Environment

venv/
.env/
.venv/

# ======================================

# Jupyter

# ======================================

.ipynb_checkpoints/

# ======================================

# VS Code

# ======================================

.vscode/

# ======================================

# SQL Server

# ======================================

*.mdf
*.ldf
*.ndf
*.bak

# ======================================

# Power BI

# ======================================
*.pbix
*.pbix.autorecovery

# ======================================

# Logs

# ======================================

*.log

# ======================================

# OS Files

# ======================================

.DS_Store
Thumbs.db

# ======================================

# Large Raw Data (Optional)

# ======================================

# Uncomment if you don't want to upload raw data

# data/raw/

# ======================================

# Temporary Files

# ======================================

*.tmp
*.temp

# ======================================

# Secrets

# ======================================

.env
.env.local
secrets.json
